
html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
padding: 0; margin: 0;
}
html,body{
display: block;
height: auto; width: 100%;
overflow: auto;
}
ul,li,a{
margin: 0; padding: 0;
list-style: none;
text-decoration: none;
}

.main ; .main-header ; .main-container ; .container ; .main-footer {
  display: block ;
  width: 100% ;
}

img {
  float:left;
  height: 118px;
}

.main {
  height:100px ;
}

#menu{
  height: 138px ;
  background-color: #B2B2B2 ;
  position: fixed;
  width: 100%;
  border-top: 15px solid white ;
  border-bottom: 5px solid white ;
  transition: top 1.8s;
}

.bar{
  width: 100% ;
  height: 5px;
  position: fixed;
  top: 0;
  z-index: 10;
}

progress[value] {
  -webkit-appearance: none;
   appearance: none;
}

progress[value]::-webkit-progress-bar {
  background: #B2B2B2;
}

progress[value]::-webkit-progress-value {
  background: black;
}

p a{
  color: #9C9B97 ;
  text-decoration: underline;
  font-weight: bold;
}

p a:hover{
  color: #D6D6D0 ;
}

a:hover{
  cursor:crosshair;
}

.main-header a {
  float: right;
  text-align: center;
  font-size: 36px ;
  padding: 25px 38px;
  font-weight: bold;
  margin-top: 35px ;
  color: black ;
  text-decoration: underline;
}

.main-header a:hover {
  color: white ;
}

ul li a{
  float: right;
}

a.anchor {
    height: 70px;
    display: block;
    position: relative;
    top : -110px;
    visibility: hidden;

}

h1{
  margin-left: 20px;
  margin-bottom: 12px ;
}

.main-container{
  height:auto ;
  font-size: 21px;

}

.M{
  margin-left: 25px;
}

h2{
  margin-top: 20px;
}

.mario{
  height: 60px;
  margin-top: 10px ;
  animation-name: drive ;
  animation-duration: 25s ;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes drive {
  from{ transform: translateX(-100PX)}
  to{ transform: translateX(1450px)}
}

.container{
  height:auto ;
  font-size: 20px;
  padding: 20px 32px;
  margin-top: 60px ;
  background-color: #D7D9D6;
}

p {
  margin-bottom: 5px;
}

.cssform p{
width: 300px;
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left: 155px;
border-top: 1px ;
height: 1%;
}

.cssform label{
font-weight: bold;
float: left;
margin-left: -155px;
width: 150px;
}

.cssform input{
width: 100px;
}

.cssform textarea{
width: 200px;
height: 150px;
}

.main-footer{
  text-align: center;
  height: 50px;
  background-color: black;
  font-size: : 25px;
  color: white;
  padding-top: 15px;
  margin-top: 20px;
}
