
html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
padding: 0; margin: 0;
}
html,body{
display: block;
height: 100%; width: 100%;
overflow: hidden;
}
ul,li,a{
margin: 0; padding: 0;
list-style: none;
text-decoration: none;
}

.main ; .main-header ; .main-container ; .container ; .main-footer {
  display: block ;
  width: 100% ;
}

img {
  float:left;
  height: 130px;
}

.main {
  height:100px ;
}

.main-header{
  height: 145px ;
  background-color: #B2B2B2 ;
  position: fixed;
  width: 98.7%;
  border-top: 15px solid white ;
  border-bottom: 5px solid white ;
}

p a{
  color: #9C9B97 ;
  text-decoration: underline;
  font-weight: bold;
}
body{
  overflow-y: scroll;
  overflow-x: hidden;
}

a.anchor {
    display: block;
    position: relative;
    top: -145px;
    visibility: hidden;
}

.main-header a {
  float: right;
  text-align: center;
  font-size: 36px ;
  padding: 25px 38px;
  font-weight: bold;
  margin-top: 45px ;
  color: black ;
  text-decoration: underline;
}

.main-header a:hover {
  color: white ;
}

ul li a{
  float: right;
}

.main-container{
  height:auto ;
  font-size: 21px;
  margin-top: 75px ;
  margin-left: 15px ;
}

h2{
  margin-top: 13px;
}

.mario{
  height: 60px;
  margin-top: 10px ;
  animation-name: drive ;
  animation-duration: 25s ;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes drive {
  from{ transform: translateX(-100PX)}
  to{ transform: translateX(1450px)}
}

.container{
  height:auto ;
  font-size: 20px;
  padding: 20px 32px;
  margin-top: 60px ;
  background-color: #D7D9D6;
}

p {
  margin-bottom: 5px;
}

.cssform p{
width: 300px;
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left: 155px;
border-top: 1px ;
height: 1%;
}

.cssform label{
font-weight: bold;
float: left;
margin-left: -155px;
width: 150px;
}

.cssform input{
width: 100px;
}

.cssform textarea{
width: 200px;
height: 150px;
}

.main-footer{
  text-align: center;
  height: 50px;
  background-color: black;
  font-size: : 25px;
  color: white;
  padding-top: 15px;
  margin-top: 20px;
}
