
html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
padding: 0; margin: 0;
}
html,body{
display: block;
height: 100%; width: 100%;
overflow: hidden;
}
ul,li,a{
margin: 0; padding: 0;
list-style: none;
text-decoration: none;
}

.main ; .main-header ; .main-container ; .container ; .main-footer {
  display: block ;
  width: 100% ;
}

img {
  float:left;
  height: 150px;

}

.main {
  height:100px ;
}

.main-header{
  height: 150px ;
  background-color: #B2B2B2 ;
}

body{
  overflow: scroll;
}

.Presentation {
  float : center;
}

.main-header a {
  float: right;
  text-align: center;
  font-size: 30px ;
  padding: 25px 38px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 80px ;
  color: black ;
}

.main-container{
  height:auto ;
  font-size: 20px;
  margin-top: 90px ;
  margin-left: 15px ;
}
.container{
  height:auto ;
  font-size: 20px;
  padding: 20px 32px;
  margin-top: 55px ;
  background-color: #D7D9D6;
}

p {
  margin-bottom: 5px;
}

.cssform p{
width: 300px;
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left: 155px;
border-top: 1px ;
height: 1%;
}

.cssform label{
font-weight: bold;
float: left;
margin-left: -155px;
width: 150px;
}

.cssform input{
width: 100px;
}

.cssform textarea{
width: 200px;
height: 150px;
}

.main-footer{
  text-align: center;
  height: 50px;
  background-color: black;
  font-size: : 25px;
  color: white;
  padding-top: 15px;
  margin-top: 20px;
}
